#languageSwitch {
	color: #fff;
	cursor: pointer;
	font-variant: small-caps;
	position: absolute;
	right: 1.5em;
	top: 1em;
	text-decoration: none;
	z-index: 1;
}

.reveal .cover h1{
	font-size: 6em;
}

.reveal .cover h2 {
	margin-top: -0.3em;
	font-size: 4.5em;
	margin-bottom: 0.5em;
}

.reveal .whoAmI {
	display: inline-block;
	vertical-align: middle;
}
.reveal .whoAmI h4 {
	font-size: 1.5em;
	text-align: center;
}

.reveal .whoAmI a {
	display: block;
	clear: both;
	color: rgba(255, 255, 255, 0.4);
}

.reveal .whoAmI a:hover {
	color: rgba(255, 255, 255, 0.8);
}

.reveal .end.whoAmI a {
	color: #0000AA;
}
.reveal .end.whoAmI a:hover {
	color: #2222CC;
}

.reveal .positive {
	color: #22FF22;
}

.reveal .negative {
	color: #FF3333;
}

.reveal h4 {
	text-align: left;
	font-size: 3em;
}
.reveal .author {
	text-align: right;
}

.reveal .wrap-box {
	margin-bottom: 40px;
}
.reveal .box {
	padding: 20px 25px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 40px;
	background-color: rgba(0, 0, 0, .3);
}

.reveal section img {
	margin: 20px;
}
.reveal .reallyBig {
	font-size: 15em;
}
.reveal .bigger {
	font-size: 9em;
}
.reveal .seiLa {
    font-size: 6em;
    line-height: 1.3em;
}
.reveal .medium {
	font-size: 1.5em;
	line-height: 1.3em;
}
.reveal .strategy {
	color: #1bb9a8;
}
.reveal .usability {
	color: #cb8f35;
}
.reveal .analysis {
	color: #7b40db;
}

.reveal .author {
	text-align: right;
}
.reveal .lightBackground {
	color: #000;
}
/* Fonts */
.reveal .cursiveFont {
	font-family: 'Dancing Script', cursive;
}
.reveal .attentionFont {
	font-family: 'Londrina Sketch', cursive;
}
.reveal .mythbusters {
	font-family: 'Special Elite', cursive;
	transform: rotate(-15deg);
	font-weight: bold;
	color: #F66;
	font-size: 5em;
}

.inline {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2em;
}
.reveal .textAlignLeft {
	text-align: left;
}
.reveal .textAlignRight {
	text-align: right;
}
.reveal .textAlignCenter {
	text-align: center;
}
.reveal .bottom {
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.footerTDC {
    position: absolute;
    bottom: 1em;
    left: 2em;
}
.footerTDC img {
    margin-right: 3em;
}

.logoGrubster {
    width: 50%;
}
